In [1]:
import pandas as pd
df = pd.read_csv('Adidas US Sales Datasets.csv')

In [2]:
df['Invoice Id'] = range(1, len(df) + 1)

In [3]:
df = df.rename(columns={'Invoice ID': 'index'})

In [4]:
# Pindahkan kolom 'Invoice Id' ke posisi paling kiri
cols = ['Invoice Id'] + [col for col in df.columns if col != 'Invoice Id']
df = df[cols]

In [5]:
df.head()

,Invoice Id,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
0,1,Foot Locker,1185732,1/1/2020,Northeast,New York,New York,Men's Street Footwear,$50.00,"1,200","$600,000","$300,000",50%,In-store
1,2,Foot Locker,1185732,1/2/2020,Northeast,New York,New York,Men's Athletic Footwear,$50.00,"1,000","$500,000","$150,000",30%,In-store
2,3,Foot Locker,1185732,1/3/2020,Northeast,New York,New York,Women's Street Footwear,$40.00,"1,000","$400,000","$140,000",35%,In-store
3,4,Foot Locker,1185732,1/4/2020,Northeast,New York,New York,Women's Athletic Footwear,$45.00,850,"$382,500","$133,875",35%,In-store
4,5,Foot Locker,1185732,1/5/2020,Northeast,New York,New York,Men's Apparel,$60.00,900,"$540,000","$162,000",30%,In-store

In [6]:
# df.to_csv('P2M3_satrio_data_raw.csv', index=False)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9648 entries, 0 to 9647
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Invoice Id        9648 non-null   int64
 1   Retailer          9648 non-null   object
 2   Retailer ID       9648 non-null   int64
 3   Invoice Date      9648 non-null   object
 4   Region            9648 non-null   object
 5   State             9648 non-null   object
 6   City              9648 non-null   object
 7   Product           9648 non-null   object
 8   Price per Unit    9648 non-null   object
 9   Units Sold        9648 non-null   object
 10  Total Sales       9648 non-null   object
 11  Operating Profit  9648 non-null   object
 12  Operating Margin  9648 non-null   object
 13  Sales Method      9648 non-null   object
dtypes: int64(2), object(12)
memory usage: 1.0+ MB